  body, th, td, caption { font-size: 8pt;
    font-family: Verdana,Arial,Helvetica,sans-serif;
    }
    
  a, a:visited {
  	text-decoration: none;
  	color: #000080;
  }
  
  a:hover {
  	color: #999999;
  }

  h1 { border: 1px dashed rgb(51, 51, 51);
    padding: 4px;
    font-size: 200%;
    text-align: center;
    color: rgb(0, 0, 110);
    background-color: #aaffdd;
		margin-top: 0px;
    }

  h2 { border: 1px dashed rgb(153, 153, 153);
    padding: 2px 6px;
    font-size: 160%;
    background-color: #c7ffe9;
		clear: both;
    }

  h3 { 
  	font-size: 140%;
  	font-variant: small-caps;
  	margin-bottom: 5px;
    }

  h4 { font-size: 115%;
    }

  ul {
    padding-left: 25px;
		margin: 3px;
    }

  ol { 
		padding-left: 25px;
		margin: 3px;
    }

	.sh {
		font-family: monospace;
	}

  table.normalTable { border: 1px solid Black;
    border-collapse: collapse;
    width: 98%;
    margin-top: 10px;
    margin-bottom: 10px;
    }

  table.normalTable td { border: 1px dashed Silver;
    padding: 4px;
    vertical-align: top;
    }

  table.normalTable td.date { text-align: center;
    color: rgb(102, 102, 102);
    }

  table.normalTable td.duration { text-align: center;
    font-weight: bold;
    color: Navy;
    }

  table.normalTable td.totalsTitleWeekly { text-align: right;
    font-weight: bold;
    background-color: rgb(221, 221, 221);
    text-transform: capitalize;
    }

  table.normalTable td.totalsTitle { text-align: right;
    font-weight: bold;
    text-transform: capitalize;
    background-color: rgb(204, 204, 204);
    }

  table.normalTable td.totalsSumWeekly { text-align: center;
    font-weight: bold;
    background-color: rgb(221, 221, 221);
    color: Navy;
    }

  table.normalTable td.totalsSum { text-align: center;
    font-weight: bold;
    background-color: rgb(204, 204, 204);
    color: Red;
    }

  table.normalTable th { border: 1px dashed Silver;
    padding: 4px;
    vertical-align: top;
    background-color: rgb(51, 51, 102);
    text-align: center;
    color: White;
    font-weight: bold;
    }

  table.normalTable th.heading { padding: 5px;
    vertical-align: top;
    background-color: rgb(204, 204, 204);
    text-align: center;
    color: White;
    font-weight: bold;
    font-variant: small-caps;
    font-size: 110%;
    }

  table { border-collapse: collapse;
    margin-top: 5px;
    margin-bottom: 5px;
    }

  td, th { padding: 4px;
    font-size: 8pt;
    }

  table.smallTable td {  }

  th { text-align: left;
    font-weight: bold;
    background-color: rgb(210, 210, 210);
    }

  #o { clear: none;
    z-index: 1;
    position: absolute;
    float: right;
    }

  .main { z-index: 3;
    position: relative;
    }

  hr { border: 0px none ;
    color: rgb(255, 255, 255);
    height: 0px;
    }

  div { border-width: 0px;
    }

  caption {  }
  
  .copy {
  	font-size: 8pt;
  	border-top: 1px solid #000000;
  	margin-top: 15px;
  	padding: 3px;
  	text-align: center;
  }
  
  .img_r {
  	float: right;
  	padding-left: 15px;
  }
  
  .img_c {
  	text-align:center;
		margin-left:auto;
		margin-right:auto;
	}

